* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

/* NAVBAR*/

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  background-color: #fff;
  height: 73px;
  position: fixed;
  top: 100;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-left: 20px;
  position: relative;
}

.nav-link {
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  border-top: #007bff 5px solid;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 25px;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
/* IMAGE SLIDER */

.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slider .slides {
  display: flex;
  width: 500%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.slider .slide {
  flex-shrink: 0;
  width: 20%;
  height: 100%;
  background-size: cover;
  background-position: center;
  
}
.slider .slide:nth-child(1) {
  background-image: url('img/1.jpg');
}
.slider .slide:nth-child(2) {
  background-image: url('img/2.jpg');
}
.slider .slide:nth-child(3) {
  background-image: url('img/3.jpg');
}
.slider .slide:nth-child(4) {
  background-image: url('img/4.jpg');
}
.slider .slide:nth-child(5) {
  background-image: url('img/5.jpg');
}
.slider .prev,
.slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slider .prev {
  left: 0;
}
.slider .next {
  right: 0;
}
/* Slider autoplay */
.slider:hover .slides {
  animation-play-state: paused;
}
.slider .slides {
  animation: slide 8s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%);
  }
  45% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(-40%);
  }
  70% {
    transform: translateX(-40%);
  }
  75% {
    transform: translateX(-60%);
  }
  95% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-80%);
  }
}

/* AYO DAFTAR */
.image {
  display: flex ;
  margin-left: 56%;
  padding-bottom: 100px;
  width: 25%;
}
.ayo-img{
    width: 80%;
    border-radius: 25px;
}

.ayo-text{
  position: absolute;
  top: 800px;
  left: 300px;
  z-index: 2;
  width: 50%;
  text-align: left;
  border-radius: 20px;
}

.ayo-text h1{
  font-size: 30px;
  color: #007bff;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase; 
}

.ayo-text p{
  color: #000;
  line-height: 1.5;
}

.ayo-text a{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.ayo-text a:hover{
  background-color: #032850;
}

/* PRODI */

.prodi-judul{
  padding-top: 20px;
}

.judul{
  text-align: center;
  text-transform: uppercase; 
}

.garis{
  border-bottom: #007bff 5px solid; 
  margin-left: 500px;
  margin-right: 500px;
  padding-bottom: 20px;
}

.prodi-cons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.prodi-name {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.prodi-name i {
  font-size: 50px;
  margin-bottom: 20px;
  color: #007bff;
}

.prodi-name h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.prodi-name p {
  font-size: 16px;
  line-height: 1.5;
}

.desk-img {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.desk-img img{
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

.txt-judul{
  color: rgb(10, 10, 10);
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -270%);
  z-index: 2;
  width: 50%;
  padding: 80px 20px;
  text-align: center;
  border-radius: 20px;
}

.desk-txt{
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -200%);
  line-height: 1.6;
}

/* FOOTER */