body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  background-color: rgb(4, 33, 95);
  padding: 15px 0;
}

.top-bar{
  display: flex;
  margin-left: 75%;
}

.top-bar a{
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.top-bar .pendaf{
  background-color: rgb(38, 61, 7);
  padding: 16px 20px;
}

.top-bar .sosmed:hover  {
  color: rgb(139, 228, 22);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  background-color: #fff;
  height: 73px;
  position: fixed;
  top: 100;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-left: 20px;
  position: relative;
}

.nav-link {
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  border-top: #007bff 5px solid;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding-top: 25px;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.nav-item:hover .dropdown-menu {
  display: block;
}
/* IMAGE SLIDER */

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: auto;
}

input.slide-radio {
  display: none;
}

input.slide-radio:checked + .slide {
  display: block;
}

.slider-nav {
  margin: 10px 0;
  text-align: center; /* Center the navigation dots horizontally */
}

.slider-dot {
  width: 15px;
  height: 15px;
  background-color: #333;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

input.slide-radio:checked + .slide + .slider-nav .slider-dot {
  background-color: #FF0000;
}

